


body {

  background-color: white;

}






.mainpage{

  width: 95%;


}



p {

font-family: 'Nunito Sans', sans-serif;

font-style: normal;

font-weight: normal;

}



h1 {

  font-family: 'Comfortaa', cursive;

  color: #000;

  font-size: 1.7em;

  line-height: 125%;

}



h2 {

  font-family: 'Nunito Sans', sans-serif;

  font-style: normal;

  font-weight: normal;

  font-size: 1.15em;



}



.header {

display: flex;

justify-content: center;

align-items: center;

margin-top: 40px;

flex-wrap: wrap;


}



.main {

  display: flex;
  flex-wrap: wrap;
  width: 85%;
}



.imglogo {

  max-width: 500px;

  width: 98%;

  padding-right: 100px;

}

.imglogo2 {
  max-width: 200px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
}

#about .imglogo {
  width: 40%;
}



a {

  font-family: 'Comfortaa', cursive;

  font-weight: bold;

  text-decoration: none;

  color: #000000;

}





ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

  padding-right: 60px;

}



li {

  display: inline;



}



li a {

  padding: 25px;

}



li a:hover {

border-bottom: solid 2px #f15a29;

}







.login {

  position: absolute;

  right: 15px;

  top: 15px;

  border-bottom: 1px solid #4a4a4a;

  /*background-image: linear-gradient(transparent 0%, transparent 40%,

    #00c1b3 100%, transparent 90%, transparent);*/

    display: inline;

    font-size: 0.85em;

}



.welcometext {

max-width: 720px;

max-height: 165px;

color: rgba(0, 0, 0, 0.7);

margin-left: 10%;

margin-top: 1%;


}





.imgkids {

  z-index: -100;

  position: absolute;

  bottom: -50px;

  right: 0;

  width: 90%;



}



.underlinepurple {

  text-decoration: underline;
text-size: 0.7em;
  text-decoration-color: #4800ba;

}



.underlineorange {

  text-decoration: underline;

  text-decoration-color: rgba(0, 0, 0, 0.6);

}

.underlineorange:hover {
  text-decoration-color: #f15a29;
}

.offer {

  padding-top: 35px;

  width: 70%;

margin-bottom: 200px;

z-index: 10;

    -webkit-animation: flip-in-x 1.2s 0.2s;
            animation: flip-in-x 1.2s 0.2s;

}

@keyframes flip-in-x
{
    0%
    {
        transform: perspective(500px) rotateX(70deg);

        opacity: .2;
    }
    30%
    {
        transform: perspective(500px) rotateX(-50deg);
    }
    45%
    {
        transform: perspective(500px) rotateX(30deg);
    }
    65%
    {
        transform: perspective(500px) rotateX(-20deg);
    }
    85%
    {
        transform: perspective(500px) rotateX(10deg);
    }
    100%
    {
        transform: perspective(500px) rotateX(0deg);
    }
}
@-webkit-keyframes flip-in-x
{
    0%
    {
        -webkit-transform: perspective(500px) rotateX(70deg);

        opacity: .2;
    }
    30%
    {
        -webkit-transform: perspective(500px) rotateX(-50deg);
    }
    45%
    {
        -webkit-transform: perspective(500px) rotateX(30deg);
    }
    65%
    {
        -webkit-transform: perspective(500px) rotateX(-20deg);
    }
    85%
    {
        -webkit-transform: perspective(500px) rotateX(10deg);
    }
    100%
    {
        -webkit-transform: perspective(500px) rotateX(0deg);
    }
}


.a {
  position: absolute;
  top: 50%;
  left: 95%;
  max-width: 30px;
}

.b {
  position: absolute;
  top: 70%;
  left: 68%;
max-width: 30px;
}

.c {
  position: absolute;
  top: 90%;
  left: 80%;
max-width: 30px;
}

.d {
  position: absolute;
  top: 40%;
  left: 80%;
max-width: 30px;
}

.smallimages img {
  max-width: 30px;
}


/*
.smallimages img {
  max-width: 30px;
animation: move 3s infinite alternate;
z-index: -500;

}

@keyframes move {
  0% {
    transform: translate(100px, 200px);
}
100% {
  transform: translate(200px, -200px);
  transform: scale(1.5);
}
}

@-webkit-keyframes move {
  0% {
    transform: translate(100px, 200px);
}
100% {
  transform: translate(200px, -200px);
}
}

*/







canvas {
  z-index: -50;
position: fixed;
top: 0;
opacity: 0.5;
}


.imgoffer {

  width: 110px;
 transition: all .2s ease-in-out;
 margin-right: 7px;
}

.imgoffer:hover {
   transform: scale(1.1); }


/* Copyright (c) 2019 by FEIDI (https://codepen.io/abdelhameed/pen/LkvwqQ) */



      @keyframes  red{
        33.33%{
          transform:  translateY(-3px) ;
        opacity: 0.3;
        }66.66%{
          transform:  translateY(0px) ;
        opacity : 0.6;
        }100%{
        transform:  translateY(-3px) ;
         opacity : 1;
        }
        }



@keyframes yellow {
   33.33%{
          transform:  translateY(-3px) ;
        }66.66%{
          transform:  translateY(0px) ;
        }100%{
        transform:  translateY(-3px) ;
        }
}

        #logo .bub2, .bub1, .bub3 , .bub4 , .bub5 , .bub6{
        -webkit-animation:  move 3s infinite linear;
        -o-animation: move  3s infinite linear;
        -moz-animation: move   3s infinite linear ;
        animation:  move  3s infinite linear ;
        opacity: 0;
        transition: all 1s ease-in-out

        }
       @-webkit-keyframes move{
        25%{
         transform: translateY(-10px) ;
        opacity: 0.4;
        }
        50%{
        transform: translateY(-20px) ;
        opacity: 1;

        }
        75%{
        transform: translateY(-30px) ;
        opacity: 0.4;
        }
        100%{
        transform: translateY(-40px) ;
        opacity: 0.2;
        }
        }
         #logo .bubb2, .bubb1, .bubb3 , .bubb4 , .bubb5 , .bubb6{
         -webkit-animation:  movee 3s infinite linear;
         -o-animation: movee  3s infinite linear;
         -moz-animation: movee   3s infinite linear ;
         animation:  movee  3s infinite linear ;
         opacity: 0;
         animation-delay:2s;
         transition: all 1s ease-in-out

        }
         @-webkit-keyframes movee{
        25%{
         transform: translateY(-10px) scaleY(0.8);
        opacity: 1;
        }
        50%{
        transform: translateY(-20px) scaleY(0.6) ;
        opacity: 0;

        }
        75%{
        transform: translateY(-30px) scaleY(0.4) ;
        opacity: 0;
        }
        100%{
        transform: translateY(-40px) scaleY(0) ;
        opacity: 0;
        }
        }











.footer {
  position: absolute;
  left: 0;
  bottom: -28%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #4800ba;
  height: 90px;

    }




.footer img {
  width: 18px;
  opacity: 0.6;
}


















    .tetrominos {
      position: absolute;
      bottom: -25%;
      right: 18%;
z-index: 30;
      -webkit-transform: translate(-112px, -96px);
              transform: translate(-112px, -96px);
    }

    .tetromino {
      width: 26px;
      height: 42px;
      position: absolute;
      transition: all ease .3s;
      background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
    }

    .box1 {
      -webkit-animation: tetromino1 2s ease-out infinite;
              animation: tetromino1 2s ease-out infinite;
    }

    .box2 {
      -webkit-animation: tetromino2 2s ease-out infinite;
              animation: tetromino2 2s ease-out infinite;
    }

    .box3 {
      -webkit-animation: tetromino3 2s ease-out infinite;
              animation: tetromino3 2s ease-out infinite;
      z-index: 2;
    }

    .box4 {
      -webkit-animation: tetromino4 2s ease-out infinite;
              animation: tetromino4 2s ease-out infinite;
    }

    @-webkit-keyframes tetromino1 {
      0%, 40% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
      50% {
        /* pre-box */
        -webkit-transform: translate(48px, -27px);
                transform: translate(48px, -27px);
      }
      60%, 100% {
        /* box */
        /* compose logo */
        -webkit-transform: translate(96px, 0);
                transform: translate(96px, 0);
      }
    }

    @keyframes tetromino1 {
      0%, 40% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
      50% {
        /* pre-box */
        -webkit-transform: translate(48px, -27px);
                transform: translate(48px, -27px);
      }
      60%, 100% {
        /* box */
        /* compose logo */
        -webkit-transform: translate(96px, 0);
                transform: translate(96px, 0);
      }
    }
    @-webkit-keyframes tetromino2 {
      0%, 20% {
        /* compose logo */
        /* 1 on 3 */
        -webkit-transform: translate(96px, 0px);
                transform: translate(96px, 0px);
      }
      40%, 100% {
        /* L-shape */
        /* box */
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
    }
    @keyframes tetromino2 {
      0%, 20% {
        /* compose logo */
        /* 1 on 3 */
        -webkit-transform: translate(96px, 0px);
                transform: translate(96px, 0px);
      }
      40%, 100% {
        /* L-shape */
        /* box */
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
    }
    @-webkit-keyframes tetromino3 {
      0% {
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
      20%, 60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(96px, 54px);
                transform: translate(96px, 54px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
    }
    @keyframes tetromino3 {
      0% {
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
      20%, 60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(96px, 54px);
                transform: translate(96px, 54px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
    }
    @-webkit-keyframes tetromino4 {
      0%, 60% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(48px, 57px);
                transform: translate(48px, 57px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
    }
    @keyframes tetromino4 {
      0%, 60% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
    }







    .wrapper {
    	width: 100px;
    	font-family: 'Passion One', sans-serif;
      letter-spacing: -5px;
    	margin: 0 auto;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
    }

    .wrapper .heading {
    	text-transform: uppercase;
    	margin: 0;
    	font-size: 5.5vw;
    	font-weight: 900;
    	text-shadow: 1px 4px 6px #e6e2df;
    	white-space: nowrap;


    }
    .wrapper span {
    	position: relative;
    	-webkit-transform-style: preserve-3d;
    	-ms-transform-style: preserve-3d;
    	transform-style: preserve-3d;
    	-webkit-perspective: 550px;
    	-ms-perspective: 550px;
    	perspective: 550px;
    	z-index: 1;
    }

    .wrapper span.char1 {
    	color: #f15a29;
    }
    .wrapper span.char1:hover {
    	color: #f15a29;
    }
    .wrapper span.char1:hover::after {
    	background: -webkit-linear-gradient(left, #f76738 0%, #f76738 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char2 {
    	color: #e0005b;
    }
    .wrapper span.char2:hover {
    	color: #e0005b;
    }
    .wrapper span.char2:hover::after {
    	background: -webkit-linear-gradient(left, #ed2c7a 0%, #ed2c7a 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char3 {
    	color: #c60063;
    }
    .wrapper span.char3:hover {
    	color: #c60063;
    }
    .wrapper span.char3:hover::after {
    	background: -webkit-linear-gradient(left, #d52c80 0%, #d52c80 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char4 {
    	color: #bc007d;
    }
    .wrapper span.char4:hover {
    	color: #bc007d;
    }
    .wrapper span.char4:hover::after {
    	background: -webkit-linear-gradient(left, #d92b9f 0%, #d92b9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char5 {
    	color: #a80088;
    }
    .wrapper span.char5:hover {
    	color: #a80088;
    }
    .wrapper span.char5:hover::after {
    	background: -webkit-linear-gradient(left, #b63d9f 0%, #b63d9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span::before {
    	-webkit-transform: scale(1.01, 1) skew(0deg, 1deg);
    	-ms-transform: scale(1.01, 1) skew(0deg, 1deg);
    	transform: scale(1.01, 1) skew(0deg, 1deg);
    	color: transparent;
    	text-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    }
    .wrapper span::after {
    	-webkit-transition: all 250ms ease;
    	transition: all 250ms ease;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
    	text-shadow: 2px 0px 1px hsla(0, 0%, 0%, 0.05);
    	-webkit-transform: rotateY(-15deg);
    	-ms-transform: rotateY(-15deg);
    	transform: rotateY(-15deg);
    }
    .wrapper span::before, .wrapper span::after {
    	content: attr(data-heading);
    	position: absolute;
    	left: 0;
    	-webkit-transform-origin: 0 50%;
    	-ms-transform-origin: 0 50%;
    	transform-origin: 0 50%;
    	-webkit-transition: all .3s;
    	transition: all .3s;
    }
    .wrapper span:hover::before {
    	-webkit-transform: scale(0.85, 1) skew(0deg, 10deg);
    	-ms-transform: scale(0.85, 1) skew(0deg, 10deg);
    	transform: scale(0.85, 1) skew(0deg, 10deg);
    }
    .wrapper span:hover::after {
    	-webkit-transform: rotateY(-40deg);
    	-ms-transform: rotateY(-40deg);
    	transform: rotateY(-40deg);
    }

























/* Copyright to Kokolinche https://codepen.io/kokolinche/pen/xxbGryr */



.container {
	bottom: 0%;
	right: 5%;
	margin: 0;
	position: absolute;
  width:100px;
}

#front-2, #front-4, #front-6, #back-2 {
  visibility: hidden;
}




/* dotted canvas */
canvas {
opacity: 0.8;
position: fixed;
left: 0;
}




#mySVG {
  position: fixed;
  top: 40%;
  left: 70%;
height: 300px;
}

























@media only screen and (max-width: 1500px) {

.header {
  padding-bottom: 20px;

}
.imglogo {
  padding-bottom: 20px;
  padding-left: 0;
}






body {
  align-items: center;
}



@media only screen and (max-width: 950px) {
.imgkids {
  visibility: hidden;
}


}
